<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewsLand - New thing every days</title>
    <link rel="icon" href="/imgs/NEWSLANDlogoRmBg.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="/css/tailwind.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&display=swap"
        rel="stylesheet">
    {{{_sections.css}}}
</head>

<body class="tw-overflow-auto">
    <header>
        <div class="tw-w-full tw-grid tw-grid-cols-[0_1fr_auto] sm:tw-grid-cols-[1fr_3fr_1fr] tw-items-center">
            <div></div>
            <div id="logo-container"
                class="tw-flex tw-justify-left tw-items-center tw-ml-2 tw-h-full sm:tw-justify-center">
                <a href="/">
                    <img id="logo-img" src="/static/imgs/with-slogan-black.png"
                        class="tw-w-[150px] sm:tw-w-[350px] tw-transition-all tw-duration-300 tw-ease-in-out"
                        alt="NewsLand">
                </a>
            </div>

            <div class="tw-flex tw-justify-center tw-items-center tw-pr-4 tw-border-l tw-border-gray-100 tw-gap-3">
                {{#if auth}}
                <a class="nav-link dropdown-toggle" href="#" id="navbarAccount" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <img id="img-account" src="/static/imgs/avatar.jpg" alt="" class="img-fluid rounded-circle">
                </a>
                {{else}}
                <a href="/account/login" type="button" class="tw-text-black tw-font-semibold">
                    <i class="bi bi-person" style="font-size: 1rem; color: black; font-weight:bold"> SIGN IN </i>

                </a>
                {{/if}}
                <a href="/account/search" class="tw-hidden sm:tw-block">
                    <i class="bi bi-search" style="font-size: 1rem; color: black; font-weight:900"></i>
                </a>
            </div>
        </div>
        <hr class="tw-m-0 tw-border-2 tw-w-full">
        <!-- Menu Category -->
        <div id="nav-container" class="container red topBotomBordersOut group" onmouseleave="hidePanel()">
            <a id="toggleNavleft" type="button">
                <i class="bi bi-list" style="font-size: 1rem; color:black;"></i>
            </a>
            <div role="tablist">
                <a class="navtop tw-uppercase" id="nav-tab-all" data-tabs-target="#data-panel" type="button" role="tab"
                    aria-controls="data-all" aria-selected="false" onmouseenter="switchTab('all')"
                    onmouseleave="hidePanel()">
                    DANH MỤC
                </a>
            </div>
            <div class="tw-absolute tw-w-screen tw-top-full tw-left-0 tw-bg-gray-50 tw-hidden tw-z-10 tw-border-t tw-border-gray-300"
                id="data-panel-all" role="tabpanel" aria-labelledby="data-all" onmouseenter="cancelHidePanel()"
                onmouseleave="hidePanel()">
                <div
                    class="nav-tab-content tw-max-h-screen tw-overflow-auto tw-grid tw-px-1 tw-pt-5 tw-pb-[15%] tw-grid-cols-1 sm:tw-grid-cols-2 lg:tw-grid-cols-5">
                    {{#each categories}}
                    <div>
                        <a class="tw-font-semibold tw-text-[15px] "
                            href="/newspaper/byCat?catId={{CatID}}">{{CatName}}</a>
                        <hr>
                        {{#if children.length}}
                        <ul class="tw-text-gray-600 tw-list-none tw-text-left">
                            {{#each (limit children 3)}}
                            <li class="tw-m-3"><a href="/newspaper/byCat?catId={{CatID}}">{{CatName}}</a></li>
                            {{/each}}
                        </ul>
                        {{/if}}
                    </div>
                    {{/each}}
                </div>
            </div>
            {{#each limitCate}}
            <div class="" role="tablist">
                <a class="navtop tw-uppercase" id="nav-tab-{{_id}}" href="/newspaper/byCat?_id={{_id}}"
                    data-tabs-target="#data-panel" type="button" role="tab" aria-controls="data-{{_id}}"
                    aria-selected="false" onmouseenter="switchTab('{{_id}}')" onmouseleave="hidePanel()">
                    {{CatName}}
                </a>
            </div>
            {{#if children.length}}
            <div class="tw-absolute tw-w-screen tw-top-full tw-left-0 tw-bg-gray-50 tw-hidden tw-z-10 tw-border-t tw-border-gray-300"
                id="data-panel-{{_id}}" role="tabpanel" aria-labelledby="data-{{_id}}" onmouseenter="cancelHidePanel()"
                onmouseleave="hidePanel()">
                <div
                    class="nav-tab-content tw-grid tw-px-[20%] tw-py-5 tw-grid-cols-1 sm:tw-grid-cols-2 lg:tw-grid-cols-4">
                    {{#each children}}
                    <a href="/newspaper/byCat?_id={{_id}}">{{CatName}}</a>
                    {{/each}}
                </div>
            </div>
            {{/if}}
            {{/each}}
        </div>

    </header>
    <div class="tw-flex tw-flex-row tw-min-h-screen ">
        {{#if authPremium}}
        <div id="nav-left" class="tw-text-center tw-fixed tw-w-auto tw-overflow-auto tw-top-0 tw-left-0 tw-h-screen tw-bg-white tw-shadow-lg tw-z-40 tw-hidden">
            <div class="tw-flex tw-flex-row tw-mb-10 tw-mt-[60%] tw-px-5">
                <img src="/imgs/NEWSLANDlogo.png" alt="" class="img-fluid rounded-circle tw-h-[50px] tw-w-[50px]">
                <div class="tw-mx-5 ">
                    <span class=" tw-hidden sm:tw-block tw-font-bold tw-text-[18px]">
                        {{authUser.username}}
                    </span>
                    <span class="tw-hidden sm:tw-block tw-font-bold tw-text-[18px] tw-text-[#F0B617]">
                        {{{getRoleIcon rolename}}}&nbsp;
                        {{authUser.rolename}}
                    </span>
                </div>
            </div>
            <nav class="nav flex-column tw-px-2">
                {{#with (getFirstItem lcFeatureRoles) as |firstRole|}}
                <a class="tw-py-2 tw-flex tw-items-center tw-gap-3 tw-min-w-[35vh] tw-text-left tw-text-[18px] tw-mt-[10%] tw-text-black tw-ml-[5%] tw-rounded
                        hover:tw-bg-[#d5d5d5] hover:tw-font-bold active-link"
                    href="/{{firstRole.RoleName}}/{{firstRole.PathName}}">
                    <span class="tw-inline-block">{{{firstRole.Icon}}} </span>
                    <span class="tw-hidden sm:tw-block">{{firstRole.FeatureName}}</span>
                </a>
                {{/with}}
            
                {{#each (skipFirst lcFeatureRoles)}}
                <a class="tw-py-2 tw-flex tw-items-center tw-gap-3 tw-min-w-[35vh] tw-text-left tw-text-[18px] tw-mt-[10%] tw-text-black tw-ml-[5%] tw-rounded
                        hover:tw-bg-[#d5d5d5] hover:tw-font-bold" href="/{{RoleName}}/{{PathName}}">
                    <span class="tw-inline-block">{{{Icon}}}</span>
                    <span class="tw-hidden sm:tw-block">{{FeatureName}}</span>
                </a>
                {{/each}}
            </nav>
        </div>
        {{/if}}
        <main id="main-content" class=" tw-w-full tw-mt-[5%] sm:tw-mt-[15%] lg:tw-mt-[12%] tw-mx-4 tw-transition-all tw-duration-300">
            {{{body}}}
        </main>
    </div>
    
    <footer class="tw-relative tw-z-50">
        <hr>
        <div>
            <div id="footer-contact" class="d-flex flex-row justify-content-between align-items-center">
                <div class="mb-3 d-flex flex-row">
                    <img class="tw-w-full" id="brand-logo" src="/static/imgs/with-slogan-white.png" alt="">
                </div>
                <div>
                    <h6>Trụ sở chính: Thành phố Hồ Chí Minh</h6>
                </div>
                <div>
                    <h6>Số điện thoại - Hotline: 01234556789</h6>
                    <h6>Email: newsland.newforlife@gmail.com</h6>
                </div>
            </div>
        </div>

    </footer>
    <button id="scrollToTopBtn" class="tw-hidden tw-fixed tw-right-5 tw-bottom-5 tw-w-[75px] tw-h-[75px]
         tw-z-50 tw-bg-white tw-text-black tw-px-4 tw-py-2 
         tw-rounded-full tw-shadow-lg hover:tw-bg-yellow-200 tw-transition-opacity tw-duration-300">
        <i class="bi bi-arrow-bar-up tw-text-3xl"></i>
    </button>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
        integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    {{{_sections.script}}}
   <script>
    document.addEventListener("DOMContentLoaded", () => {
        const btn = document.getElementById("scrollToTopBtn");

        window.addEventListener("scroll", () => {
        const scrollTop = window.scrollY;
        const windowHeight = window.innerHeight;
        const fullHeight = document.body.scrollHeight;

        if (scrollTop + windowHeight >= (1 / 3) * fullHeight) {
            btn.classList.remove("tw-hidden");
        } else {
            btn.classList.add("tw-hidden");
        }
        });

        btn.addEventListener("click", () => {
        window.scrollTo({
            top: 0,
            behavior: "smooth"
        });
        });
    });
    </script>

    <script>
        const swalWithCustomButtons = Swal.mixin({
            customClass: {
                confirmButton: "tw-bg-black tw-rounded-sm tw-text-white tw-border-0 tw-py-3 tw-px-2 tw-ml-2",
                cancelButton: "tw-bg-grey-500 tw-rounded-sm tw-text-black tw-border-0 tw-py-3 tw-px-2 tw-ml-2"
            },
            animation: true,
            showClass: {
                popup: `
                    animate__animated
                    animate__fadeInUp
                    animate__faster
                    `
            },
            hideClass: {
                popup: `
                    animate__animated
                    animate__fadeOutDown
                    animate__faster
                    `
            },
            buttonsStyling: false
        });
    </script>
    <script>
        $(document).ready(function () {

            if (!{{ auth }}) {
            $('#toggleNavleft').on('click', function () {

                swalWithCustomButtons.fire({
                    title: 'Bạn chưa đăng nhập',
                    text: 'Bạn cần đăng nhập để truy cập các tính năng này.',

                    showCancelButton: true,
                    confirmButtonText: 'Đăng nhập',
                    confirmButtonColor: "#000000",
                    cancelButtonText: 'Hủy',

                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = '/account/login';  // Điều hướng đến trang đăng nhập
                    }
                });
            });
        } 
            else if ({{ auth }} && parseInt({{ authUser.permission }}) === 1) {  // Kiểm tra quyền của người dùng
            $('#toggleNavleft').on('click', function () {
                swalWithCustomButtons.fire({
                    title: 'Bạn không đủ quyền',
                    text: 'Bạn cần đăng ký premium để truy cập các tính năng này.',
                    showCancelButton: true,
                    confirmButtonText: 'Subscribe',
                    cancelButtonText: 'Hủy',
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = '/account/premium';
                    }
                });
            });
        }
            else {
            $('#toggleNavleft').on('click', function () {
                 $('#nav-left').toggleClass('tw-hidden');
                 $('#main-content').toggleClass('tw-ml-[350px]');
            });
        }
        });
    </script>
    <script>
        let hideTimeout;

        function switchTab(id) {
            clearTimeout(hideTimeout);

            document.querySelectorAll("[id^='data-panel']").forEach(panel => {
                panel.classList.add("tw-hidden");
            });

            const targetPanel = document.getElementById(`data-panel-${id}`);
            if (targetPanel) {
                targetPanel.classList.remove("tw-hidden");
            }
        }

        function cancelHidePanel() {
            clearTimeout(hideTimeout);
        }

        function hidePanel() {
            hideTimeout = setTimeout(() => {
                document.querySelectorAll("[id^='data-panel']").forEach(panel => {
                    panel.classList.add("tw-hidden");
                });
            }, 200);
        }
    </script>
    <script>
        let lastScrollY = window.scrollY;
        const logo = document.getElementById("logo-img");
        const logoContainer = document.getElementById("logo-container");
        const navContainer = document.getElementById("nav-container");

        window.addEventListener("scroll", () => {
            const currentScrollY = window.scrollY;

            if (currentScrollY > lastScrollY && currentScrollY > 50) {
                // Scroll xuống
                logo.src = "/static/imgs/black.png";
                logo.classList.remove("tw-w-[150px]", "sm:tw-w-[350px]");
                logo.classList.add("tw-w-[100px]", "sm:tw-w-[200px]");
                navContainer.classList.add("tw-hidden");
            } else if (currentScrollY < lastScrollY) {
                logo.src = "/static/imgs/with-slogan-black.png";
                logo.classList.remove("tw-w-[100px]", "sm:tw-w-[200px]");
                logo.classList.add("tw-w-[150px]", "sm:tw-w-[350px]");
                navContainer.classList.remove("tw-hidden");
            }

            lastScrollY = currentScrollY;
        });
    </script>
</body>

</html>