<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewsLand - New thing every days</title>
    <link rel="icon" href="/imgs/NEWSLANDlogoRmBg.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="/css/tailwind.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&display=swap"
        rel="stylesheet">
    {{{_sections.css}}}
</head>

<body>
    <div id="header-nav">
        <div id="header" class="d-flex flex-row justify-content-between align-items-center">
            <div class="d-flex flex-row">
                <img id="brand-logo" src="/imgs/NEWSLANDlogo.png" alt="">
                <div class="d-flex flex-column align-items-center">
                    <h1 id="brand-name">NewsLand</h1>
                    <h6 id="brand-slogan">New thing every days</h6>
                </div>
            </div>
            <div class="container-fluid">
                <div class="d-flex search-container" role="search" id="searchForm">
                    <div class="d-flex flex-column">
                        <input id="searchInput" class="form-control me-2 search-input" type="search"
                            placeholder="Search" aria-label="Search">
                        <div id="searchResults" class="dropdown-menu" style="display: none; position: absolute;"></div>
                    </div>

                </div>
            </div>
            <form id="formPre" action="/account/premium" method="post"></form>
            <a id="activatePremiumBtn" class="btn-subcribe" href="javascript: $('#formPre').submit()">
                <i class=""></i>
                Premium
            </a>
            {{#if auth}}
            <a class="nav-link dropdown-toggle" href="#" id="navbarAccount" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <img id="img-account" src="/static/imgs/NEWSLANDlogo.png" alt="" class="img-fluid rounded-circle">
            </a>

            
            {{else}}
            <div class="d-flex flex-row justify-between g-10">
                <a class="btn-subcribe" href="/account/register">
                    <i class=""></i>
                    Sign Up
                </a>
                <a class="btn-subcribe" href="/account/login">
                    <i class=""></i>
                    Sign In
                </a>
            </div>
            {{/if}}
            <div id="info-dropdown" class="dropdown-menu" aria-labelledby="navbarAccount">
                <div id="account-inf" class="p-3 text-center">
                    <img id="img-account" src="/static/imgs/NEWSLANDlogo.png" alt="" class="img-fluid rounded-circle">
                    <h5 class="text-uppercase mt-3">{{authUser.username}}</h5>
                    <h6>{{formatDate authUser.expiration_date}}</h6>
                </div>
                <a class="dropdown-item" href="#">
                    <i class="bi bi-person-badge"></i>
                    Your Information
                </a>
                <a class="dropdown-item" href="#">
                    <i class="bi bi-gear-fill"></i>
                    Setting
                </a>
                <form id="frmLogout" action="/account/logout" method="post"></form>
                <a id="btn-logout" class="dropdown-item" href="javascript:void(0);">
                    <i class="bi bi-box-arrow-in-left"></i>
                    Log out
                </a>
            </div>
        </div>
        <div id="nav-bar" class="d-flex flex-row justify-content-center align-items-center">
            <a id="toggleNavleft" type="button">
                <i class="bi bi-list" style="font-size: 2rem; color: cornflowerblue;"></i>
            </a>
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                            {{#each limitCate}}
                            {{#if children.length}}
                            <!-- Dropdown menu nếu có danh mục con -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="/newspaper/byCat?catId={{CatID}}"
                                    id="dropdown-{{id}}" role="button" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    {{CatName}}
                                </a>


                                <div class="dropdown-menu" aria-labelledby="dropdown-{{id}}">
                                    {{#each children}}
                                    <a class="dropdown-item" href="/newspaper/byCat?catId={{CatID}}">{{CatName}}</a>
                                    {{/each}}

                                </div>
                            </li>
                            {{else}}
                            <!-- Hiển thị danh mục bình thường nếu không có con -->
                            <li class="nav-item">
                                <a class="nav-link" href="/newspaper/byCat?catId={{CatID}}">{{CatName}}</a>
                            </li>
                            {{/if}}
                            {{/each}}

                            <li class="nav-item dropdown">
                                <!-- Nút chính có icon -->
                                <a class="nav-link dropdown-toggle" href="#" id="catalogDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img class="search-icon" src="/imgs/btn-catalog.png" alt="Catalog">
                                </a>

                                <!-- Dropdown menu chứa danh mục -->
                                <ul class="dropdown-menu" aria-labelledby="catalogDropdown">
                                    <h6>TẤT CẢ DANH MỤC</h6>
                                    <hr>
                                    {{#each categories}}
                                    <li class="dropdown-item">
                                        <a href="/newspaper/byCat?catId={{CatID}}">{{CatName}}</a>
                                        {{#if children.length}}
                                        <!-- Submenu cho danh mục con -->
                                        <ul class="submenu">
                                            {{#each children}}
                                            <li><a href="/newspaper/byCat?catId={{CatID}}">{{CatName}}</a></li>
                                            {{/each}}
                                        </ul>
                                        {{/if}}
                                    </li>
                                    {{/each}}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="tw-flex tw-flex-row tw-min-h-screen card-body">
        {{#if authPremium}}
        <div id="nav-left" class="">
            <div class="tw-flex tw-flex-row tw-mt-5 tw-mb-10 tw-px-5">
                <img src="/imgs/NEWSLANDlogo.png" alt="" class="img-fluid rounded-circle tw-h-[50px] tw-w-[50px]">
                <div class="tw-mx-5">
                    <span class="tw-block tw-font-bold tw-font-[18px]">
                        {{authUser.username}}
                    </span>
                    <span class="tw-block tw-font-bold tw-font-[18px] tw-text-[#F0B617]">
                        {{{getRoleIcon rolename}}}&nbsp;
                        {{authUser.rolename}}
                    </span>
                </div>
            </div>
            <nav class="nav flex-column">
                {{#with (getFirstItem lcFeatureRoles) as |firstRole|}}
                <a class="nav-link active-link" href="/{{firstRole.RoleName}}/{{firstRole.PathName}}">
                    {{{firstRole.Icon}}}&nbsp;{{firstRole.FeatureName}}
                </a>
                {{/with}}
                <!-- Links -->
                {{#each (skipFirst lcFeatureRoles)}}
                <a class="nav-link" href="/{{RoleName}}/{{PathName}}">{{{Icon}}}&nbsp;{{FeatureName}}</a>
                {{/each}}
            </nav>
        </div>
        {{/if}}
        <div class="body-homepage tw-w-full">
            {{{ body }}}
        </div>
    </div>


    <div id="footer">
        <div id="send-mail" class="d-flex flex-row justify-content-center align-items-center">
            <div class="mt-3 d-flex flex-column align-items-center">
                <h4>Newsland Newsletter</h4>
                <h6>ĐỪNG BỎ LỠ NHỮNG TIN TỨC MỚI NHẤT</h6>
                <h6>Nhận thông báo tin mới nhất qua Mail</h6>
            </div>
            <form id="txtbox-send-mail" class="mt-3 d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Your Email" aria-label="Search">
                <button class="btn-subcribe" type="submit">Đăng ký</button>
            </form>
        </div>
        <hr>
        <div>
            <div id="footer-contact" class="d-flex flex-row justify-content-between align-items-center">
                <div class="mb-3 d-flex flex-row">
                    <img id="brand-logo" src="/imgs/NEWSLANDlogo.png" alt="">
                    <div class="d-flex flex-column align-items-center">
                        <h1 id="brand-name">NewsLand</h1>
                        <h6 id="brand-slogan">New thing every days</h6>
                    </div>
                </div>
                <div>
                    <h6>Tổng biên tập: Cam Shannon</h6>
                    <h6>Trụ sở chính: Thành phố Hồ Chí Minh</h6>
                </div>
                <div>
                    <h6>Số điện thoại - Hotline: 01234556789</h6>
                    <h6>Email: Shannon@gmail.com</h6>
                </div>
            </div>
        </div>



    </div>


    <!-- Sửa lại jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <!-- Phiên bản đầy đủ của jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
        integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    {{{_sections.script}}}
    <script>
        $(document).ready(function () {
            // Kiểm tra nếu người dùng đã đăng nhập
            if (!{{ auth }}) {  // Kiểm tra nếu auth là false
            // Nếu chưa đăng nhập, hiển thị thông báo SweetAlert
            $('#toggleNavleft').on('click', function () {
                Swal.fire({
                    title: 'Bạn chưa đăng nhập',
                    text: 'Bạn cần đăng nhập để truy cập các tính năng này.',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Đăng nhập',
                    cancelButtonText: 'Hủy',
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = '/account/login';  // Điều hướng đến trang đăng nhập
                    }
                });
            });
        } 
            else if ({{ auth }} && parseInt({{ authUser.permission }}) === 1) {  // Kiểm tra quyền của người dùng
            $('#toggleNavleft').on('click', function () {
                Swal.fire({
                    title: 'Bạn không đủ quyền',
                    text: 'Bạn cần đăng ký premium để truy cập các tính năng này.',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Subscribe',
                    cancelButtonText: 'Hủy',
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = '/account/subscribe';  // Điều hướng đến trang đăng ký
                    }
                });
            });
        }
            else {
            // Nếu người dùng đã đăng nhập và có quyền truy cập, hiển thị menu
            $('#toggleNavleft').on('click', function () {
                // Kiểm tra nếu #nav-left đang hiển thị (display: block) thì ẩn nó đi (display: none)
                if ($('#nav-left').css('display') === 'none') {
                    $('#nav-left').css('display', 'block'); // Hiển thị #nav-left
                } else {
                    $('#nav-left').css('display', 'none'); // Ẩn #nav-left
                }
            });
        }
        });
    </script>


    <script>
        document.getElementById('btn-logout').addEventListener('click', function () {
            // Hiển thị SweetAlert2 để xác nhận logout
            Swal.fire({
                title: 'Are you sure?',
                text: "Do you really want to log out?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, log me out!',
                cancelButtonText: 'No, keep me logged in',
                reverseButtons: true // Đảo vị trí các nút
            }).then((result) => {
                // Nếu người dùng chọn "Yes"
                if (result.isConfirmed) {
                    // Tự động gửi form logout
                    document.getElementById('frmLogout').submit();
                } else if (result.dismiss === Swal.DismissReason.cancel) {
                    // Nếu người dùng chọn "Cancel"
                    Swal.fire(
                        'Cancelled',
                        'You are still logged in.',
                        'info'
                    );
                }
            });
        });
    </script>
    <script>
        // Hàm để gọi API và hiển thị SweetAlert
        async function activatePremium() {
            try {
                // Gửi request POST đến API
                const response = await fetch('/account/premium', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });

                const data = await response.json();

                if (response.ok) {
                    // Nếu thành công, hiển thị SweetAlert thông báo thành công
                    Swal.fire({
                        icon: 'success',
                        title: 'Chào mừng bạn đến với Newsland Premium!',
                        text: data.message, // Lấy message từ API
                        confirmButtonText: 'OK',
                    }).then(() => {
                        // Chuyển trang sau khi người dùng nhấn "OK"
                        window.location.href = '/subscriber/library';
                    });
                } else {
                    // Nếu có lỗi, hiển thị thông báo lỗi
                    Swal.fire({
                        icon: 'error',
                        title: 'Error!',
                        text: data.message || 'Something went wrong.',
                        confirmButtonText: 'OK',
                    });
                }
            } catch (error) {
                // Nếu có lỗi khi gọi API
                Swal.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: 'Failed to activate premium account. Please try again later.',
                    confirmButtonText: 'OK',
                });
            }
        }

        // Gọi hàm khi nhấn nút
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('activatePremiumBtn').addEventListener('click', activatePremium);
        });
    </script>
    <script>
        
    </script>
    <script>
        $(document).ready(function () {
            // First, bind the event listener for the search input
            $('#searchInput').on('input', function () {
                // Check if the user is logged in
                if (!{{ auth }}) {  // If the user is not logged in
                Swal.fire({
                    title: 'Bạn chưa đăng nhập',
                    text: 'Bạn cần đăng nhập để truy cập các tính năng này.',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Đăng nhập',
                    cancelButtonText: 'Hủy',
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = '/account/login';  // Redirect to login page
                    }
                });
            } else if ({{ auth }} && parseInt({{ authUser.permission }}) === 1) {  // If logged in but doesn't have premium
            Swal.fire({
                title: 'Bạn không đủ quyền',
                text: 'Bạn cần đăng ký premium để truy cập các tính năng này.',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Subscribe',
                cancelButtonText: 'Hủy',
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '/account/subscribe';  // Redirect to subscribe page
                }
            });
        } else {  // If the user is logged in and has the required permission
            const searchInput = document.getElementById('searchInput');
            const searchResults = document.getElementById('searchResults');
            const keyword = searchInput.value.trim();

            if (!keyword) {
                searchResults.style.display = 'none';
                searchResults.innerHTML = '';
                return;
            }

            // Perform the search via API
            fetch(`/newspaper/api/search?keyword=${encodeURIComponent(keyword)}`)
                .then(response => response.json())
                .then(results => {
                    // Display the search results in the dropdown
                    if (results.length > 0) {
                        searchResults.style.display = 'block';
                        searchResults.innerHTML = results
                            .map(item => {
                                // Truncate abstract if it exceeds 100 characters
                                const truncatedAbstract = item.Abstract.length > 50 ? item.Abstract.substring(0, 100) + '...' : item.Abstract;

                                return `
                                            <div class="dropdown-item search-item" data-id="${item.NewsID}">
                                                <a href="/newspaper/detail?id=${item.NewsID}">
                                                    <strong>${item.Title}</strong>
                                                </a><br />
                                                <p class="font-abstract">${truncatedAbstract}</p>
                                            </div>
                                        `;
                            })
                            .join('');
                    } else {
                        searchResults.innerHTML = '<div class="dropdown-item search-item">No results found</div>';
                    }
                })
                .catch(err => {
                    console.error('Error fetching search results:', err);
                });
        }
            });

        // Hide search results when clicking outside the search input
        document.addEventListener('click', function (e) {
            const searchInput = document.getElementById('searchInput');
            const searchResults = document.getElementById('searchResults');
            if (!searchInput.contains(e.target) && !searchResults.contains(e.target)) {
                searchResults.style.display = 'none';
            }
        });

        // Add click event to search results
        document.getElementById('searchResults').addEventListener('click', function (e) {
            const item = e.target.closest('.search-item');
            if (item) {
                const newsId = item.getAttribute('data-id');
                console.log(`Selected NewsID: ${newsId}`);
                // Handle further actions for selected news
            }
        });
        });
    </script>


</body>

</html>