{{#section "css"}}
    <link href="/static/css/homepage.css" rel="stylesheet">
{{/section}}
{{#section "script"}}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
                // Lấy tất cả các phần tử carousel-item
                const items = document.querySelectorAll('#carouselExampleCaptions .carousel-item');

                // Xóa lớp active khỏi tất cả các phần tử
                items.forEach(item => {
                    item.classList.remove('active');
                });

                // Thêm lại lớp active vào phần tử đầu tiên
                if (items.length > 0) {
                    items[0].classList.add('active');
                }
            });

    </script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const premiumLinks = document.querySelectorAll(".premium-link");

            premiumLinks.forEach(link => {
                link.addEventListener("click", (event) => {
                    const isPremium = link.getAttribute("data-premium") === "true";
                    const auth = {{auth}};
                    let text = 'Đăng nhập';
                    let href = "/account/login";
                    if (auth){
                        text = 'Đăng ký Premium';
                        href = "/account/premium"
                    }
                    if (isPremium) {
                        event.preventDefault(); // Ngăn chặn chuyển hướng
                        Swal.fire({
                            title: "Thông báo",
                            text: "Bạn không được cấp quyền để xem nội dung này.",
                            icon: "warning",
                            showCancelButton: true,
                            
                            confirmButtonText: text,
                            cancelButtonText: "Hủy"
                        }).then((result) => {
                            if (result.isConfirmed) {
                                // Chuyển hướng đến trang đăng nhập
                                window.location.href = href;
                            }
                        });
                    }
                });
            });
        });
    </script>
{{/section}}
<div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        {{#each topNews}}
        <div class="carousel-item {{#if @first}}active{{/if}}">
            <div class="feature-paper mb-5" style="--bg-image: url('{{this.ImageCover}}')">
                <div class="paper-infor">
                    <div class="header-paper">
                        <button class="name-category-paper" disabled="disabled">{{this.CatName}}</button>
                        <h6>
                            <i class="bi bi-calendar3"></i>
                            {{formatDate this.PublishedDay}}
                        </h6>
                    </div>
                    {{#if authPremium}}
                        <!-- Người dùng đã đăng nhập -->
                        <a href="/newspaper/detail?id={{NewsID}}" class="premium-link">
                            <h1 class="card-title tw-mb-2">{{Title}}</h1>
                        </a>
                    {{else}}
                        {{#if this.is_premium}}
                            <!-- Bài viết Premium nhưng chưa đăng nhập -->
                            <a href="javascript:void(0);" class="premium-link" data-premium="true">
                                <h1 class="card-title tw-mb-2">{{Title}}</h1>
                            </a>
                        {{else}}
                            <!-- Bài viết không phải Premium -->
                            <a href="/newspaper/detail?id={{NewsID}}" class="premium-link">
                                <h1 class="card-title tw-mb-2">{{Title}}</h1>
                            </a>
                        {{/if}}
                    {{/if}}
                    <div class="status-paper">
                        <h6><i class="bi bi-pencil-square"></i>{{this.AuthorName}}</h6>
                        <h6><i class="bi bi-eye-fill"></i>{{this.Views}}</h6>
                        <h6><i class="bi bi-hearts"></i>500</h6>
                        <h6><i class="bi bi-chat-dots"></i>{{this.countComment}}</h6>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="title-paper-list mb-3">
    <h1>Trending News</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 feature-paper">   
                <div class="paper-infor">
                    <div class="header-paper">
                        <button class="name-category-paper" disabled="disabled">Chính trị</button>
                        <h6>
                            <i class="bi bi-calendar3"></i>
                            Nov 20th, 2024
                        </h6>
                    </div>
                    <h1>Donald Trump đắc cử tổng thống Mỹ</h1>
                    <div class="status-paper">
                        <h6><i class="bi bi-pencil-square"></i>admin</h6>
                        <h6><i class="bi bi-eye-fill"></i>1000</h6>
                        <h6><i class="bi bi-hearts"></i>500</h6>
                        <h6><i class="bi bi-chat-dots"></i>1000</h6>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="">
                    <div class="card d-flex flex-row mb-2">
                        <img src="/static/imgs/Trump.jpg" alt="..." class="img-title-paper">
                        <div class="paper-small">
                            <div class="header-paper small mt-2">
                                <button class="name-category-paper" disabled="disabled">Chính trị</button>
                                <h6 >
                                    <i class="bi bi-calendar3"></i>
                                    Nov 20th, 2024
                                </h6>
                            </div>
                            <h5 class="card-title">Donald Trump đắc cử tổng thống Mỹ</h5>
                        </div>
                    </div>

                    <div class="card d-flex flex-row mb-2">
                        <img src="/imgs/Trump.jpg" alt="..." class="img-title-paper">
                        <div class="paper-small">
                            <div class="header-paper small mt-2">
                                <button class="name-category-paper" disabled="disabled">Chính trị</button>
                                <h6 >
                                    <i class="bi bi-calendar3"></i>
                                    Nov 20th, 2024
                                </h6>
                            </div>
                            <h5 class="card-title">Donald Trump đắc cử tổng thống Mỹ</h5>
                        </div>
                    </div>

                    <div class="card d-flex flex-row mb-2">
                        <img src="/imgs/Trump.jpg" alt="..." class="img-title-paper">
                        <div class="paper-small">
                            <div class="header-paper small mt-2">
                                <button class="name-category-paper" disabled="disabled">Chính trị</button>
                                <h6 >
                                    <i class="bi bi-calendar3"></i>
                                    Nov 20th, 2024
                                </h6>
                            </div>
                            <h5 class="card-title">Donald Trump đắc cử tổng thống Mỹ</h5>
                        </div>
                    </div>
                </div>
            </div>

            <div id="top-chart" class="col-sm-4">
                <h4>TOP CHART</h4>
                <hr>
                <div class="container text-center">
                    <div class="row row-cols-1">
                        <div class="col">
                            <div class="d-flex flex-row justify-content-between align-items-center">
                                <button class="top-chart-format" disabled="disabled">Sức khỏe</button>
                                <button class="top-chart-format" disabled="disabled">1</button>
                            </div>
                        </div>

                        <div class="col">
                            <div class="d-flex flex-row justify-content-between align-items-center">
                                <button class="top-chart-format" disabled="disabled">Sức khỏe</button>
                                <button class="top-chart-format" disabled="disabled">1</button>
                            </div>
                        </div>

                        <div class="col">
                            <div class="d-flex flex-row justify-content-between align-items-center">
                                <button class="top-chart-format" disabled="disabled">Sức khỏe</button>
                                <button class="top-chart-format" disabled="disabled">1</button>
                            </div>
                        </div>

                        <div class="col">
                            <div class="d-flex flex-row justify-content-between align-items-center">
                                <button class="top-chart-format" disabled="disabled">Sức khỏe</button>
                                <button class="top-chart-format" disabled="disabled">1</button>
                            </div>
                        </div>

                        <div class="col">
                            <div class="d-flex flex-row justify-content-between align-items-center">
                                <button class="top-chart-format" disabled="disabled">Sức khỏe</button>
                                <button class="top-chart-format" disabled="disabled">1</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="title-paper-list mb-3 d-flex flex-column">
    <h1>Feature</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">   
                <div class="card d-flex flex-row mb-2">
                    <img src="/imgs/Trump.jpg" alt="..." class="img-title-paper">
                    <div class="paper-small">
                        <div class="header-paper small mt-2">
                            <button class="name-category-paper" disabled="disabled">Chính trị</button>
                            <h6 >
                                <i class="bi bi-calendar3"></i>
                                Nov 20th, 2024
                            </h6>
                        </div>
                        <h5 class="card-title">Donald Trump đắc cử tổng thống Mỹ</h5>
                    </div>
                </div>

                <div class="card d-flex flex-row mb-2">
                    <img src="/imgs/Trump.jpg" alt="..." class="img-title-paper">
                    <div class="paper-small">
                        <div class="header-paper small mt-2">
                            <button class="name-category-paper" disabled="disabled">Chính trị</button>
                            <h6 >
                                <i class="bi bi-calendar3"></i>
                                Nov 20th, 2024
                            </h6>
                        </div>
                        <h5 class="card-title">Donald Trump đắc cử tổng thống Mỹ</h5>
                    </div>
                </div>

                <div class="card d-flex flex-row mb-2">
                    <img src="/imgs/Trump.jpg" alt="..." class="img-title-paper">
                    <div class="paper-small">
                        <div class="header-paper small mt-2">
                            <button class="name-category-paper" disabled="disabled">Chính trị</button>
                            <h6 >
                                <i class="bi bi-calendar3"></i>
                                Nov 20th, 2024
                            </h6>
                        </div>
                        <h5 class="card-title">Donald Trump đắc cử tổng thống Mỹ</h5>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card d-flex flex-row mb-2">
                    <img src="/imgs/Trump.jpg" alt="..." class="img-title-paper">
                    <div class="paper-small">
                        <div class="header-paper small mt-2">
                            <button class="name-category-paper" disabled="disabled">Chính trị</button>
                            <h6 >
                                <i class="bi bi-calendar3"></i>
                                Nov 20th, 2024
                            </h6>
                        </div>
                        <h5 class="card-title">Donald Trump đắc cử tổng thống Mỹ</h5>
                    </div>
                </div>

                <div class="card d-flex flex-row mb-2">
                    <img src="/imgs/Trump.jpg" alt="..." class="img-title-paper">
                    <div class="paper-small">
                        <div class="header-paper small mt-2">
                            <button class="name-category-paper" disabled="disabled">Chính trị</button>
                            <h6 >
                                <i class="bi bi-calendar3"></i>
                                Nov 20th, 2024
                            </h6>
                        </div>
                        <h5 class="card-title">Donald Trump đắc cử tổng thống Mỹ</h5>
                    </div>
                </div>

                <div class="card d-flex flex-row mb-2">
                    <img src="/imgs/Trump.jpg" alt="..." class="img-title-paper">
                    <div class="paper-small">
                        <div class="header-paper small mt-2">
                            <button class="name-category-paper" disabled="disabled">Chính trị</button>
                            <h6 >
                                <i class="bi bi-calendar3"></i>
                                Nov 20th, 2024
                            </h6>
                        </div>
                        <h5 class="card-title">Donald Trump đắc cử tổng thống Mỹ</h5>
                    </div>
                </div>                
            </div>

            <div class="col-sm-4">
                <div class="card d-flex flex-row mb-2">
                    <img src="/imgs/Trump.jpg" alt="..." class="img-title-paper">
                    <div class="paper-small">
                        <div class="header-paper small mt-2">
                            <button class="name-category-paper" disabled="disabled">Chính trị</button>
                            <h6 >
                                <i class="bi bi-calendar3"></i>
                                Nov 20th, 2024
                            </h6>
                        </div>
                        <h5 class="card-title">Donald Trump đắc cử tổng thống Mỹ</h5>
                    </div>
                </div>

                <div class="card d-flex flex-row mb-2">
                    <img src="/imgs/Trump.jpg" alt="..." class="img-title-paper">
                    <div class="paper-small">
                        <div class="header-paper small mt-2">
                            <button class="name-category-paper" disabled="disabled">Chính trị</button>
                            <h6 >
                                <i class="bi bi-calendar3"></i>
                                Nov 20th, 2024
                            </h6>
                        </div>
                        <h5 class="card-title">Donald Trump đắc cử tổng thống Mỹ</h5>
                    </div>
                </div>

                <div class="card d-flex flex-row mb-2">
                    <img src="/imgs/Trump.jpg" alt="..." class="img-title-paper">
                    <div class="paper-small">
                        <div class="header-paper small mt-2">
                            <button class="name-category-paper" disabled="disabled">Chính trị</button>
                            <h6 >
                                <i class="bi bi-calendar3"></i>
                                Nov 20th, 2024
                            </h6>
                        </div>
                        <h5 class="card-title">Donald Trump đắc cử tổng thống Mỹ</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="title-paper-list mb-3 d-flex flex-column">
    <h1>Top New Weekly</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">   
                <div class="card d-flex flex-row mb-2">
                    <img src="/imgs/Trump.jpg" alt="..." class="img-title-paper">
                    <div class="paper-small">
                        <div class="header-paper small mt-2">
                            <button class="name-category-paper" disabled="disabled">Chính trị</button>
                            <h6 >
                                <i class="bi bi-calendar3"></i>
                                Nov 20th, 2024
                            </h6>
                        </div>
                        <h5 class="card-title">Donald Trump đắc cử tổng thống Mỹ</h5>
                    </div>
                </div>

                <div class="card d-flex flex-row mb-2">
                    <img src="/imgs/Trump.jpg" alt="..." class="img-title-paper">
                    <div class="paper-small">
                        <div class="header-paper small mt-2">
                            <button class="name-category-paper" disabled="disabled">Chính trị</button>
                            <h6 >
                                <i class="bi bi-calendar3"></i>
                                Nov 20th, 2024
                            </h6>
                        </div>
                        <h5 class="card-title">Donald Trump đắc cử tổng thống Mỹ</h5>
                    </div>
                </div>

                <div class="card d-flex flex-row mb-2">
                    <img src="/imgs/Trump.jpg" alt="..." class="img-title-paper">
                    <div class="paper-small">
                        <div class="header-paper small mt-2">
                            <button class="name-category-paper" disabled="disabled">Chính trị</button>
                            <h6 >
                                <i class="bi bi-calendar3"></i>
                                Nov 20th, 2024
                            </h6>
                        </div>
                        <h5 class="card-title">Donald Trump đắc cử tổng thống Mỹ</h5>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card d-flex flex-row mb-2">
                    <img src="/imgs/Trump.jpg" alt="..." class="img-title-paper">
                    <div class="paper-small">
                        <div class="header-paper small mt-2">
                            <button class="name-category-paper" disabled="disabled">Chính trị</button>
                            <h6 >
                                <i class="bi bi-calendar3"></i>
                                Nov 20th, 2024
                            </h6>
                        </div>
                        <h5 class="card-title">Donald Trump đắc cử tổng thống Mỹ</h5>
                    </div>
                </div>

                <div class="card d-flex flex-row mb-2">
                    <img src="/imgs/Trump.jpg" alt="..." class="img-title-paper">
                    <div class="paper-small">
                        <div class="header-paper small mt-2">
                            <button class="name-category-paper" disabled="disabled">Chính trị</button>
                            <h6 >
                                <i class="bi bi-calendar3"></i>
                                Nov 20th, 2024
                            </h6>
                        </div>
                        <h5 class="card-title">Donald Trump đắc cử tổng thống Mỹ</h5>
                    </div>
                </div>

                <div class="card d-flex flex-row mb-2">
                    <img src="/imgs/Trump.jpg" alt="..." class="img-title-paper">
                    <div class="paper-small">
                        <div class="header-paper small mt-2">
                            <button class="name-category-paper" disabled="disabled">Chính trị</button>
                            <h6 >
                                <i class="bi bi-calendar3"></i>
                                Nov 20th, 2024
                            </h6>
                        </div>
                        <h5 class="card-title">Donald Trump đắc cử tổng thống Mỹ</h5>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card d-flex flex-row mb-2">
                    <img src="/imgs/Trump.jpg" alt="..." class="img-title-paper">
                    <div class="paper-small">
                        <div class="header-paper small mt-2">
                            <button class="name-category-paper" disabled="disabled">Chính trị</button>
                            <h6 >
                                <i class="bi bi-calendar3"></i>
                                Nov 20th, 2024
                            </h6>
                        </div>
                        <h5 class="card-title">Donald Trump đắc cử tổng thống Mỹ</h5>
                    </div>
                </div>

                <div class="card d-flex flex-row mb-2">
                    <img src="/imgs/Trump.jpg" alt="..." class="img-title-paper">
                    <div class="paper-small">
                        <div class="header-paper small mt-2">
                            <button class="name-category-paper" disabled="disabled">Chính trị</button>
                            <h6 >
                                <i class="bi bi-calendar3"></i>
                                Nov 20th, 2024
                            </h6>
                        </div>
                        <h5 class="card-title">Donald Trump đắc cử tổng thống Mỹ</h5>
                    </div>
                </div>
                
                <div class="card d-flex flex-row mb-2">
                    <img src="/imgs/Trump.jpg" alt="..." class="img-title-paper">
                    <div class="paper-small">
                        <div class="header-paper small mt-2">
                            <button class="name-category-paper" disabled="disabled">Chính trị</button>
                            <h6 >
                                <i class="bi bi-calendar3"></i>
                                Nov 20th, 2024
                            </h6>
                        </div>
                        <h5 class="card-title">Donald Trump đắc cử tổng thống Mỹ</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>