{{#section 'css'}} 
      <link href="/css/tailwind.css" rel="stylesheet">
{{/section}}

<h1>Kho báo đã từ chối</h1>
<hr class="tw-w-[100%] tw-border-[5px] tw-bg-yellow-300"></hr>
<div class="row d-grids tw-flex tw-flex-wrap tw-justify-center tw-w-full tw-max-w-[1200px] tw-mx-auto">
     {{#each this.news}}
            <div class="col-sm-4 mb-3 tw-flex tw-justify-center tw-items-center">
            <div class="tw-w-[350px] tw-h-[480px] tw-bg-white tw-rounded-[30px] tw-flex tw-flex-col tw-p-3"
                  style="
                        box-shadow: 0px 2px 4px rgba(0, 0, 0, 1);
                        border: 1px solid black;
                  ">
                  <p>Thời gian đăng: {{formatDate PublishedDay}}</p>
                  <img src="{{ImageCover}}" alt="{{Title}}" 
                        class="tw-w-[90%] tw-h-[180px] tw-object-cover tw-self-center tw-mb-2">
                  <p class="tw-max-w-[100%] tw-line-clamp-2 tw-text-ellipsis tw-mb-0">
                        <strong>{{Title}}</strong>
                  </p>
                  <a href="/newspaper/detail?id={{NewsID}}" class="tw-text-gray-400" style="font-style: italic; text-decoration:underline">xem trước</a>

                  <div class="tw-text-[#948D8D] tw-max-w-[100%] tw-text-ellipsis tw-line-clamp-3 tw-overflow-hidden">
                        {{{Content}}}
                  </div>
                  
                  <div class="tw-flex tw-flex-row tw-justify-between tw-items-center tw-w-[100%] tw-mt-auto">
                        <p style="margin: 0;">Tác giả: {{AuthorName}}</p>
                        <div class="">
                       <a href="/editor/feedback?id={{NewsID}}" class="tw-rounded-[20px] tw-bg-orange-500 tw-border-1 tw-border-orange-500 tw-text-white tw-p-[5px] tw-w-full
          hover:tw-bg-white hover:tw-text-black hover:tw-border-1 hover:tw-border-orange-500 transition-colors duration-300 tw-mb-2 tw-text-center tw-block">Nhận xét</a>
                            <div class="tw-w-full"
                                    style="color: {{getStatusColor  StatusName}};
                                        padding: 5px;
                                        border: 2px solid {{getStatusColor  StatusName}};
                                        border-radius: 20px;">
                                {{StatusName}}
                            </div>
                            </div>
                        </div>
                  </div>
            </div>
           
            {{/each}}
</div>
      
        