
{{#section "css"}}
    <link rel="stylesheet" href="/static/css/cssWriter/writer.css">
    <link rel="stylesheet" href="/static/css/cssWriter/approval.css">
{{/section}}
<div id="card-list-new">
    <div class="header-create tw-mt-5">
        <h4>ĐÃ ĐƯỢC DUYỆT</h4>
        <hr>
    </div>
    <div class="row">
        {{!-- {{#each newsApproved}}
        <div class="col-sm-6 mb-3">
            <div class="card">
                <div class="card-body card-news d-flex flex-row">
                    <img src="{{ImageCover}}" alt="..." class="img-title-paper">
                    <div class="paper-small">
                        <div class="header-paper small mb-2">
                            <button class="name-category-paper" disabled="disabled">{{CatName}}</button>
                            <div>
                                <i class="bi bi-calendar3"></i>
                                {{CreatedDate}}
                            </div>
                            <i class="bi bi-check2-circle tick-icon"></i>
                        </div>
                        <h5 class="card-title tw-mb-2">{{Title}}</h5>
                        <p class="abstract-font"> {{Abstract}}</p>
                    </div>
                </div>
            </div>
        </div>
        {{/each}} --}}
        
        <div class="col-sm-6 mb-3">
            <div class="card">
                <div class="card-body card-news d-flex flex-row">
                    <img src="/imgs/Trump.jpg" alt="..." class="img-title-paper">
                    <div class="paper-small">
                        <div class="header-paper small mb-2">
                            <button class="name-category-paper" disabled="disabled">Chính trị</button>
                            <div>
                                <i class="bi bi-calendar3"></i>
                                Nov 20th, 2024
                            </div>
                            <i class="bi bi-check2-circle tick-icon"></i>
                        </div>
                        <h5 class="card-title tw-mb-2">Donald Trump đắc cử tổng thống Mỹ</h5>
                        <p class="abstract-font"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum dolore debitis,
                            quae omnis quaerat quod aspernatur illo maiores sint tempore quia architecto natus numquam iusto
                            sunt animi eveniet dolorum labore.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3">
            <div class="card">
                <div class="card-body card-news d-flex flex-row">
                    <img src="/imgs/Trump.jpg" alt="..." class="img-title-paper">
                    <div class="paper-small">
                        <div class="header-paper small mb-2">
                            <button class="name-category-paper" disabled="disabled">Chính trị</button>
                            <div>
                                <i class="bi bi-calendar3"></i>
                                Nov 20th, 2024
                            </div>
                            <i class="bi bi-check2-circle tick-icon"></i>
                        </div>
                        <h5 class="card-title tw-mb-2">Donald Trump đắc cử tổng thống Mỹ</h5>
                        <p class="abstract-font"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum dolore debitis,
                            quae omnis quaerat quod aspernatur illo maiores sint tempore quia architecto natus numquam iusto
                            sunt animi eveniet dolorum labore.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul class="pagination">
        <li class="page-item disabled">
            <a class="page-link">Previous</a>
        </li>
        {{#each this.pageNumbers}}
        {{#if active}}
        <li class="page-item active">
            <a class="page-link" href="#">{{value}}</a>
        </li>
        {{else}}
        <li class="page-item">
            <a class="page-link" href="?id={{../status}}&page={{value}}">{{value}}</a>
        </li>
        {{/if}}
        {{!-- {{#if value === 1}}
        <li class="page-item disable">
            <a class="page-link" href="#">{{value}}</a>
        </li>
        {{#elif value === }}
        <li class="page-item">
            <a class="page-link" href="?id={{../catId}}&page={{value}}">{{value}}</a>
        </li>
        {{else}}
        {{/if}} --}}
        {{/each}}
    
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</div>