{{#section "css"}}
<link rel="stylesheet" href="/static/css/cssWriter/writer.css">
<link rel="stylesheet" href="/static/css/cssWriter/approval.css">
{{/section}}
<div id="card-list-new">
    <div class="header-create tw-mt-5">
        <h4>BỊ TỪ CHỐI</h4>
        <hr>
    </div>
    <div class="row">
        {{#each newsApproved}}
        <div class="col-sm-6 mb-3">
            <div class="card">
                <div class="card-body card-news d-flex flex-row">
                    <img src="{{ImageCover}}" alt="..." class="img-title-paper">
                    <div class="paper-small">
                        <div class="header-paper small mb-2">
                            <button class="name-category-paper" disabled="disabled">{{catName}}</button>
                            <div class="PublishedDate">
                                <i class="bi bi-calendar3"></i>
                                {{PublishedDate}}
                            </div>
                            <i class="bi bi-exclamation-circle refuse-icon"></i>
                        </div>
                        <a href="/newspaper/edit?id={{NewsID}}">
                            <h5 class="card-title tw-mb-2">{{Title}}</h5>
                        </a>
                        <p class="abstract-font">{{Abstract}}</p>
                    </div>
                </div>
                <button type="button" class="btn btn-primary" formaction="/newspaper/edit?id={{NewsID}}">
                    <i class="bi bi-pencil-square"></i>
                    Review and edit
                </button>
            </div>
        </div>
        {{/each}}
        
    </div>
</div>